/*----------------------BASE STYLES-------------------------*/
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
html {
	font-size: 16px;

}
body {
	max-width: 1400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
/*----------------------HEADER STYLES-----------------------*/
header {
	background: url('../img/hero-image.png');
	background-position: center;
    background-size: cover;
	font-size: 1rem;
	height: 750px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-flow: row wrap;
}

header h1 {
	color: #bdbf09;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 3.75em;
	text-align: center;
	padding-top: 350px;
}

header p {
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	text-align: center;
	color: #095256;
	width: 17em;
	


}

/*----------------------MY PORTFOLIO STYLES--------------------*/
#my-portfolio {
	background: #ffffff;
	color: #095256;
	font-size: 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	
}

#my-portfolio-header {
	text-align: center;
	font-size: 2.25em;
	width: 100%;
}

#jubilee-austen h3, #rogue-pickings h3, #holstee-manifesto h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}	

#jubilee-austen h3, #rogue-pickings h3, #holstee-manifesto h3, #jubilee-austen p, #rogue-pickings p, #holstee-manifesto p {
	text-align: center;
}
/*----------------------ABOUT ME STYLES------------------------*/
#about-me {
	background: #087e8b;
	font-size: 1rem;
	color: #ffffff;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}

#about-me h2 {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 2.25em;
	font-weight: bold;
	width: 100%;

}
#profile-pic {
	flex-basis: 50%;
}

img {
	padding-left: 50px;
	padding-bottom: 50px;
}

#about-me-info {
	flex-basis: 50%;
	top-padding: 0px;
	text-align: left;
	padding-right: 50px;
	padding-bottom: 30px;

}
#about-me-info p {
	width: 30em;
}

/*-----------------------CONTACT INFO STYLES-------------------------*/
#contact-info {
	background: #095156;
	color: #ffffff;
	font-size: 1rem;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	height: 100%;

}

#hire-me, #follow-me {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 50%;
	flex-flow: row wrap;
}

#hire-me h3, #follow-me h3 {
	width: 100%;
}
#follow-me {
	padding-bottom: 50px;
}

#follow-me i {
	padding-left: 15px;
}

#contact-info h2 {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 2.25em;
	width: 100%;
}
#contact-info h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em; 
	text-align: center;	
}

#hire-me h3 {
	padding-bottom: 0;
	margin-bottom: 0;
}

#contact-info p {
	text-align: center;
	font-size: 1.5em;
	padding-top: 0;	
}


/*------------------------------FOOTER STYLES---------------------*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #095156;
}
footer h4 {
	text-align: center;
	color: #ffffff;
}